@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 1000px;
  margin: 0 auto;
  width: 60%; /* Cambiado a porcentaje */
}

body {
  color: #333333;
  font-family: "Roboto", sans-serif;

  background: linear-gradient(
    135deg,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(204, 17%, 83%, 1) 100%
  );
}

.navbar {
  margin-top: 20px;
  font-size: 25px;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style: none;
}

.navbar li {
  padding: 5px 10px;
}

.navbar li:hover {
  background-color: #191919;
  border-radius: 5px;
  transition: 0.3s;
}

.navbar a {
  text-decoration: none;
  color: #333333;
}

.navbar a:hover {
  color: rgb(241, 241, 241);
}

/* Media query para pantallas más pequeñas */
@media (max-width: 688px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar li {
    padding: 3px;
  }
}

.contenedor-inicio {
  display: flex;
  height: 200px;
  align-items: center;
}

.logo-inicio {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 180px;
}

.texto-inicio {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 20px;
}

.container-proyectos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 15px;
  gap: 25px;
}

.proyecto {
  width: 420px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  width: 45%;
}

.proyecto img {
  width: 100%;
  border-radius: 5px;
}

.proyecto:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agregar sombra al hacer hover */
}

.tecnologias-completas {
  border-top: solid 2px;
}

.contenedor-tecnologias {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid 2px;
  padding: 20px 0px;
}

.contenedor-tecnologias-aprendiendo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  border: solid 1px;
  border-radius: 5px;
  padding: 20px 0px;
  align-items: center;
}

.sobremi {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-top: solid 2px;
  font-size: 20px;
}

button {
  padding: 5px 15px;
  border-radius: 5px;
  background: linear-gradient(to right, #f0f0f0, #f1ecec);
  color: #333333;
  font-size: 15px;
}

button:hover {
  cursor: pointer;
}

h2 {
  display: flex;
  justify-content: center;
}

.logostecnologías {
  display: flex;
  justify-content: space-evenly;
}

.logostecnologías img {
  margin-top: 20px;
  border-radius: 10px;
  width: 8%;
}

.tecnologias-desarrollo {
  margin-top: 15px;
}

.contacto {
  border-top: solid 2px;
  margin-bottom: 30px;
}

.contacto h2 {
  margin-top: 15px;
}

.mail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail img {
  width: 60px;
  padding: 10px;
}

.redes {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.redes button {
  padding: 10px 15px;
  font-size: 1em;
  color: #333333;
  border: none;
  border-radius: 5px;
}

.mail p {
  margin-left: 10px;
  font-size: 1em;
  color: #333333;
}

@media screen and (max-width: 1000px) {
  .App {
    width: 90%; /* Ajusta el ancho para pantallas más pequeñas */
  }

  .logo-inicio {
    width: 70%; /* Ajusta el ancho del logo en pantallas más pequeñas */
  }

  .proyecto {
    width: 90%; /* Ajusta el ancho de los proyectos en pantallas más pequeñas */
  }

  .contenedor-inicio {
    flex-direction: column; /* Cambiado a columna en pantallas más pequeñas */
    height: auto; /* Altura automática en pantallas más pequeñas */
  }

  .texto-inicio {
    padding: 5px; /* Reducido el relleno en pantallas más pequeñas */
  }

  .container-proyectos {
    justify-content: center; /* Centrar proyectos en pantallas más pequeñas */
    gap: 10px; /* Reducido el espacio entre proyectos */
  }
}
